.journal-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.input-tittle {
    border: none;
    background: none;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    font-family: "Source Sans 3", sans-serif;
    border-bottom: 1px solid #FFFFFF1A;;
        
}

.form-row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.form-label {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 150px;
}

.input {
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #323232;
    width: 100%;
}

.invalid {
    border: 1px solid red;
    background: rgb(68, 6, 6);
}